/* CSS Custom Properties */
:root {
  --white: #f9f9f9;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #f8410f;
  --orange: #f62d2d;
  --orange-dark: #752b17;
  --text-light: #968c84;
  /* --text-dark: #4d1a1a; */
  --text-dark: var(--black);

  --black: #121212;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  background-color: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--orange);
  padding: 2vmin;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(---black);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  border-radius: 1vmin;
  width: 100%;
  margin: 0;
}

.form-container label {
  margin-left: auto;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  /* display: grid; */
  /* grid-template-columns: 1fr 5fr; */
  gap: 1.25vmin;
  color: var(--black);
  padding: 1.5vmin;

}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1.5vmin;
  margin: 0.5vmin;
  font-size: 3vmin;
  border: 0;
  box-shadow: 0 0 0 0.2vmin var(--orange-dark);
  color: var(--text-dark);
  background-image: none !important;
  /* prevent lastpass */
  outline: none;
  transition: all 0.2s ease;
}

input:focus {
  box-shadow: 0 0 0 0.3vmin var(--black);
  color: var(--black);
}

button,
a.button {
  margin: 1vmin;
  padding: 2vmin;
  color: var(--orange);
  background-color: var(--black);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--black);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
  margin: auto;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled,
form:invalid button[type="submit"] {
  opacity: .35;
  cursor: not-allowed;
  color: var(--text-dark);
  background-color: var(--orange);
}

button[type="submit"] {
  grid-column: 2/3;
  margin: 1vmin 0 0;
}

.flex-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  width: 100%;
  height: 100%;
}